.logo-header {
    height: 370px;
    margin-top: 20px;
    background-image: url(/src/assets/pokedex-3d-logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-header_aux {
    height: 70px;
    background-color: black;
}

.logout_btn {
    width: 100px;
    height: 50px;
    margin-top: 40px;
    background-color: #7c7a7a;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .logo-header  {
        height: 220px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .logo-header  {
        height: 140px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .logo-header  {
        height: 90px;
    }
  }