.logo-container {
  height: 370px;
  background-image: url(/src/assets/pokedex-3d-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.home_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #fe1936;
}

.home_description {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.home_form-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .logo-container  {
      height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .logo-container  {
      height: 140px;
  }
}

@media screen and (max-width: 320px) {
  .logo-container  {
      height: 90px;
  }
}